[submodule "src/libs/matlab2tikz"]
	path = src/libs/matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
[submodule "MultiDOE"]
	path = src/libs/multidoe
	url = git@bitbucket.org:luclaurent/multidoe.git
[submodule "src/libs/m2html"]
	path = src/libs/m2html
	url = git@github.com:l2/m2html.git
[submodule "optigtest"]
	path = optigtest
	url = git@bitbucket.org:luclaurent/optigtest.git
